body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}
.header{
    position: fixed;
    height: 90px;
    width:  100%;
    background-color: black;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 1000;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px 15px;
    margin-right: 50px;
    border: 1px solid transparent;  
    transition: border-color 0.3s ease, color 0.3s ease;
}

.nav-links li a:hover {
    border-color: white ;
}

.divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    height: 1px;
    background-color: white;
}

.logo{
    width: 80px;
    height: 80px;
    margin-left: 30px;
    margin-bottom: 3px; 
}

.home{
    padding: 120px 60px 60px 60px;
}
section{
    padding: 60px 60px 60px 60px;
}

.home{
    position: relative;
    background: url("school.png") no-repeat center center/cover;
    height: 75vh; 
    z-index: 1;
    
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}

.home h1{
    font-size: 55px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.homecontent{
    font-family: 'Poppins', sans-serif;
}

.intro{
    font-size: 22px;
    text-align: center;
    line-height: 1.6;
    margin-top: 50px;

}
span{
    font-style: italic ;
    font-weight: bold;
    font-size: 25px;
}

.btn{
    
    padding: 12px 30px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;

}
.btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.button{
  display: flex;
  justify-content: center;
  gap:80px;


}
.location{
    font-size: 22px;
    text-align: center;
    line-height: 1.6;
    margin-top: 50px;
}

section h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.aboutcontain{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.aboutcontain:hover{
    transform: scale(1.008);
    box-shadow: 0 5px 10px rgba(180, 178, 178, 0.4);
}
.description{
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    margin-top: 30px;
    color:black;
    padding: 10px;
}
.about-img{
    font-family: 'Poppins', sans-serif;
    display: grid;
    justify-content: center;

}
.group{
    border-radius: 10px;
    height:60vh;

}
.about-img p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}


footer{

    text-align: center;
}
